<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688003230913-dhrrvqddlbabivs3mjrnokkjmmjk31h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688003230913-dhrrvqddlbabivs3mjrnokkjmmjk31h6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>688003230913-n3348n1forpek8uvv6ckreaujmopsain.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAd8E2yoG1a5XtLiHPHMyVO43jTaP4MAHY</string>
	<key>GCM_SENDER_ID</key>
	<string>688003230913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.builtinsoft.batch4</string>
	<key>PROJECT_ID</key>
	<string>batch4-2a6e2</string>
	<key>STORAGE_BUCKET</key>
	<string>batch4-2a6e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688003230913:ios:5ed3b61c5f5eca1a45f840</string>
	<key>DATABASE_URL</key>
	<string>https://batch4-2a6e2-default-rtdb.firebaseio.com</string>
</dict>
</plist>